@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap");

/* Общие селекторы */

* {
  margin: 0;
}

body {
  font-family: "Raleway";
  color: #213053;
}

h3 {
  font-size: 16px;
  opacity: 0.7;
  margin-bottom: 30px;
}

a {
  text-decoration: none;
  color: #213053;
}

button {
  font-family: "Raleway", sans—serif;
  font-size: 15px;
  color: #fff;
  background-color: #23a030;
  border: none;
  border-radius: 15px;
  cursor: pointer;
  box-shadow: 0 16px 36px rgb(52 213 68 / 22%);
  padding: 15px;
}

button:hover {
  background-color: #f6980c;
  box-shadow: 0 16px 36px rgba(246 152 12 / 20%);
  transition: background-color 0.3s ease-in;
}

h1 {
  font-size: 70px;
  line-height: 76px;
}

select {
  appearance: none;
}

input {
  outline: none;
}

/* Шапка сайта */
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
}
.header__logo {
  height: 30px;
}

.header__contacts {
  font-size: 15px;
  font-weight: 600;
  margin-right: 25px;
}
.header__btn {
  background-color: green;
}

/* Конец шапки */
/* Первая секция */
.about {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 115px 0;
  background: url(img/back.png) no-repeat;
  background-position: center;
  background-size: cover;
}
.about__info {
  max-width: 550px;
}
.about__title {
}
.about__text {
  font-size: 18px;
  line-height: 30px;
  opacity: 0.8;
}
.about__btn {
  font-size: 18px;
  border-radius: 20px;
  padding: 20px 25px;
  margin-top: 20px;
}
.about__images {
}
.about__sun-image {
  width: 100px;
  height: 100px;
}
.about__image {
  width: 500px;
}
/* ВТОРАЯ СЕКЦИЯ */
.container__form {
  width: 550px;
  margin: 0 auto;
}

.form__body {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  gap: 30px;
}

.form {
  background-color: #1d263a;
  color: #fff;
  padding-top: 115px;
  padding-bottom: 115px;
  text-align: center;
}

.form__title {
  font-size: 48px;
}

.formd__descr {
  font-size: 18px;
  opacity: 0.65;
}

.form__submit {
  width: 100%;
}

.form__group {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  text-align: left;
}

.form form {
  display: grid;
  grid-gap: 20px;
}

.form label {
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 15px;
}

.form input,
select {
  font-size: 18px;
  color: #213053;
  height: 60px;
  padding: 0 20px;
  border: none;
  border-radius: 15px;
}

.form__submit {
  font-size: 18px;
  font-weight: 600;
  margin-top: 40px;
}

/* ПОДВАЛ */

.footer {
  padding: 90px 20px;
  font-size: 16px;
  font-weight: 600;
}
.footer__container {
  display: flex;
  justify-content: center;
}
.copyright {
  margin-top: 40px;
  text-align: center;
  opacity: 0.5;
}

.footer__group {
  margin-right: 80px;
}

.footer__links {
  display: flex;
  flex-direction: column;
  margin-bottom: 15px;
}
